textarea{
resize: both;
margin: 9px 0;
padding: 5px;
width: 40%;
border-radius: 10px;
}
button{
border: none;
        display: inline-block;
background: #404040;
padding:18px 15px;
color:#fff;
font-weight: 300;
margin: 10px 10px;
border-radius: 5px;
}
.flex-parent {
  display: flex;
}
.flex-parent {
  display: flex;
}
.site-content{
width: 200%;
}
